apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - app.yaml
patches:
  - target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: csi-snapshot-controller
    patch: |-
      - op: add
        path: /metadata/annotations
        value:
          argocd.argoproj.io/ignore-healthcheck: "true"
      - op: add
        path: /spec/syncPolicy
        value:
          automated:
            prune: true
            selfHeal: true
            allowEmpty: false
          syncOptions:
            - CreateNamespace=true
            - ServerSideApply=true
