apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: patch
spec:
  source:
    helm:
      valuesObject:
        kubeClusterName: a01-vcluster
        apps:
          - name: a01-vcluster-argocd
            uri: http://argocd-server.argocd.svc.cluster.local