apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:

  - ../../apps/bundles/core-r1/
  - ../../apps/operators/storage/csi-driver-nfs/
  - ../../apps/addons/storageclasses/csi-driver-nfs/
  - ../../apps/bundles/packages/crossplane/
#   - ../../apps/bundles/packages/vault/

  # - vclusters/

patches:
  - target:
      kind: StorageClass
      name: proxmox
    path: patches/zfs-device.yaml
  - target:
      kind: StorageClass
      name: nfs
    path: patches/nfs-configuration.yaml
  - target:
      kind: Application
      name: teleport-kube-agent
    path: patches/teleport-app-configs.yaml