apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:

  - ../../apps/bundles/core-r1/
  - ../../apps/operators/storage/csi-driver-nfs/
  - ../../apps/addons/storageclasses/csi-driver-nfs/
  # - ../../apps/operators/storage/csi-snapshot-controller/  # Not needed - Proxmox CSI doesn't support snapshots
  - ../../apps/bundles/packages/crossplane/
  - ../../apps/operators/storage/velero/
  - ../../apps/features/cnpg/
  - ../../apps/operators/gitops/tf-controller/
  - ../../apps/addons/fabric/
  - ../../apps/operators/gitops/renovate/

  - overlays/test/
  # - overlays/prod/

  # - vclusters/

patches:
  - target:
      kind: StorageClass
      name: proxmox
    path: patches/zfs-device.yaml
  - target:
      kind: StorageClass
      name: nfs
    path: patches/nfs-configuration.yaml
  - target:
      kind: Application
      name: teleport-kube-agent
    path: patches/teleport-app-configs.yaml
