apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:

  - ../../apps/bundles/mizu-r1/

  - config/

patches:
  - target:
      kind: StorageClass
      name: proxmox
    path: patches/zfs-device.yaml
  - target:
      kind: Application
      name: teleport-kube-agent
    path: patches/teleport-app-configs.yaml