apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  - subst-cmp-configmap.yaml
  - ejson-keys.yaml